/* 
251605 brown
c57b57 deer
f1ab86 tumbleweed
f7dba7 tuscan
9cafb7  

locations with addresses, hours open, contact information, 

About Us (company history and mission), 
Merchandise (sales of t-shirts, mugs, stickers, etc.)
*/


header
{
    display: flex;
}

#salmonpic
{
    /* margin: 1em 1em 1em 1em; */
    padding-top: 10em;
    /* padding-bottom: -10em; */
    padding-right: -10em;
}
#quotepic
{
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: -10em;
    height: 10em;
    width: 20em;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* align-content: center; */
    text-align: center;
}

.data
{
    /* border: 1px solid #3A3042; */
    font-size: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #c57b57;
    text-shadow: -1px 2px #3A3042;
}

tr:first-child
{
    font-weight: bold;
}

table, th, td 
{
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    /* border-spacing: 1em; */
    

}

input, label {
    /* can be in a block display or inline */
    /* display:block; */
}

h2
{
    margin: 1em 1em 1em 1em;
    font-size: 1.5em;
    
}
h1
{
    font-family: 'Gaegu', cursive;
    font-size: 5em;
    text-align: center;
    color: #3A3042;
    text-shadow: -5px 5px #f1ab86;
}

.text
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f1ab86;
    text-shadow: -1px 1px #251605;
    font-size: 2em;
}



body
{
    background: #EDFFD9;
}


section
{
    display: block;
}

.tablepic
{
    height: 2em;
    width: 6em;
}

ul, li
{
    display: inline-table;
}